.answers-wrapper{
    display: flex;
    flex-direction: column;

}
.answer-wrapper{
    margin-top: 10px;
    display: flex;
}
.question-answers-section{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    min-width: 70%;
}
.question-answers-section:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }